# Prerequisites
*.d

IMPROVEMENTS.md
STRERROR_IMPLEMENTATION.md

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

cblas.h
*.opendb
*.user
*.db
*.filters
.vs/
Debug/
Release/
.DS_Store
#fashion-mnist_test.csv
fashion-mnist_train.csv
mnist_train.csv
mnist_test.csv
logic
digit5x7
pima
save_test
blas_perf
.vscode
mnist
build/
cblas/
test5x7/
save_test_binary
